main.technologies-main
    .technologies-main__row.row
        img(src="img/itsme-1.webp" alt="Это я")
        .technologies-main__whoiam
            p.technologies-main__from Москва, 30 лет
            p.technologies-main__experience стаж более 3 лет разработки
            p.technologies-main__skills JavaScript-разработчик. Сопутствующие навыки:
            .technologies-main__skills-tags
                .technologies-main__skill.aquamarine HTML
                .technologies-main__skill.lightblue CSS
                .technologies-main__skill.lightpurple SASS
                .technologies-main__skill.lightgreen Pug
                .technologies-main__skill.lightbrown Gulp
                .technologies-main__skill.darkgrey Webpack
                .technologies-main__skill.darkblue Git
                .technologies-main__skill.black Wordpress
                .technologies-main__skill.green MODX
                .technologies-main__skill.orange Figma
            section.technologies-main-aboutme.accordion
                .technologies-main-aboutme__inner.accordion__inner
                    .technologies-main-aboutme__tabs.accordion__tabs
                        details.technologies-main-aboutme__tab.accordion__tab
                            summary.technologies-main-aboutme__heading.accordion__heading
                                h2.technologies-main-aboutme Немного обо мне
                                +sprite("main-aboutme__icon accordion__icon", "img/sprites/sprite.svg#arrow")
                            p По образованию филолог, в своё время я подумал, как максимально плавно начать двигаться в своей профессии. И на момент студенчества работа копирайтером оказалась максимально понятной.
                            p Постепенно погружаясь в профессию, я узнал, что если копирайтер понимает ещё и в SEO (Search Engine Optimization), ценность такого сотрудника повышается и даёт возможность развиваться в компании.
                            p Таким образом я заинтересовался HTML и CSS. На первых местах работы я стал постепенно верстать или править за другими верстку.