main.main
    .main__row.row
        img(src="img/itsme-1.webp" alt="Это я")
        .main-text
            h1.main-text__title Блог <br><span class="blue">frontend </span><br><span>разработчика</span>
            p На данном сайте я поделюсь своими наработками за несколько лет опыта в вёрстке и frontend разработке. Расскажу о разработке сайтов как предпринимателям, так и новичкам в профессии.
            ul
                li С чего начать разработку?
                li Как проще всего начать разрабатывать сайты?
                li SEO или реклама?
                li CMS или фреймворки? что такое и одно, и другое?
            p Здесь вы получите ответы на эти вопросы. А если вы их так и не получили, отправьте свой вопрос, я проведу для Вас бесплатную консультацию
            button(type="button" data-modal) Кнопка
    include ../../components/slider/slider