section.portfolio
    .portfolio__row.row
        .portfolio__item(style="background: url(./img/neuropsychologist.webp) center center/cover no-repeat;")
            h3.portfolio__title Lorem ipsum.
            p.portfolio__descr Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, velit?
        .portfolio__item(style="background: url(./img/seminars.webp) center center/cover no-repeat;")
            h3.portfolio__title Lorem ipsum.
            p.portfolio__descr Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, velit?
        .portfolio__item(style="background: url(./img/school.webp) center center/cover no-repeat;")
            h3.portfolio__title Lorem ipsum.
            p.portfolio__descr Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, velit?
