header.technologies-header
        a.logo
            h1 Тарчевский Иван.
            p Frontend - разработчик
        nav.technologies-header-menu
            ul.technologies-header-menu__list
                li.technologies-header-menu__item.active
                    a(href="##") Обо мне
                li.technologies-header-menu__item
                    a(href="##") Блог
                li.technologies-header-menu__item
                    a(href="##" data-modal) Связаться со мной
        include ../../components/burger/burger